@import url('https://fonts.cdnfonts.com/css/whitney-2');
@import url('https://fonts.cdnfonts.com/css/norwester');

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Norwester', sans-serif;
    font-size: 40px;
    background: #e11145;
    transition: 1s;
    box-shadow: 6px 6px 0 #ca0d3c;
    border: 5px;
    border-radius: 10px;
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.2s;
    box-shadow: 7px 7px 0 #a6082f;
}

.cta2 {
    display: flex;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Norwester', sans-serif;
    font-size: 40px;
    background: #bf1540;
    transition: 1s;
    box-shadow: 6px 6px 0 #a30c32;
    border: 5px;
    border-radius: 10px;
}

.cta2:focus {
   outline: none; 
}

.cta2:hover {
    transition: 0.2s;
    box-shadow: 7px 7px 0 #7c0926;
}

.ctaGHY {
  display: flex;
  padding: 3px 13px;
  text-decoration: none;
  font-family: 'Norwester', sans-serif;
  font-size: 40px;
  background: #8d3491;
  transition: 1s;
  box-shadow: 3px 3px 0 #650b71;
  border: 5px;
  border-radius: 10px;
}

.ctaGHY:focus {
 outline: none; 
}

.ctaGHY:hover {
  transition: 0.2s;
  box-shadow: 5px 5px 0 #590863;
}

.ctaADWY {
  display: flex;
  padding: 3px 13px;
  text-decoration: none;
  font-family: 'Norwester', sans-serif;
  font-size: 40px;
  background: #9a1ba5;
  transition: 1s;
  box-shadow: 3px 3px 0 #83138d;
  border: 5px;
  border-radius: 10px;
}

.ctaADWY:focus {
 outline: none; 
}

.ctaADWY:hover {
  transition: 0.2s;
  box-shadow: 5px 5px 0 #610c69;
}

.ctaTMM {
  display: flex;
  padding: 3px 13px;
  text-decoration: none;
  font-family: 'Norwester', sans-serif;
  font-size: 40px;
  background: #1aba6f;
  transition: 1s;
  box-shadow: 3px 3px 0 #119b4f;
  border: 5px;
  border-radius: 10px;
}

.ctaTMM:focus {
 outline: none; 
}

.ctaTMM:hover {
  transition: 0.2s;
  box-shadow: 5px 5px 0 #0c7139;
}

.ctaB {
  display: flex;
  padding: 1px 13px;
  text-decoration: none;
  font-family: 'Norwester', sans-serif;
  font-size: 40px;
  background: #d236a3;
  transition: 1s;
  box-shadow: 3px 3px 0 #ac2089;
  border: 5px;
  border-radius: 10px;
}

.ctaB:focus {
 outline: none; 
}

.ctaB:hover {
  transition: 0.2s;
  box-shadow: 5px 5px 0 #6c1552;
}

.ctaS {
  display: flex;
  padding: 1px 13px;
  text-decoration: none;
  font-family: 'Norwester', sans-serif;
  font-size: 40px;
  background: #a1a1a1;
  transition: 1s;
  box-shadow: 3px 3px 0 #929292;
  border: 5px;
  border-radius: 10px;
}

.ctaS:focus {
 outline: none; 
}

.ctaS:hover {
  transition: 0.2s;
  box-shadow: 5px 5px 0 #757575;
}


svg {
  display: block;
  height: 400px;
  margin: 50px auto;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h1{
    color: #fe7b9c;
    font-family: 'Norwester', sans-serif;
    font-style: italic;
    font-size: 100px;
    filter: drop-shadow(3px 3px 0px #c93d60);
    text-align: center;
    position: relative;
    -webkit-animation: slideIntext 2s forwards;
    text-shadow:
    -1px -1px 0 #c93d60,
    1px -1px 0 #c93d60,
    -1px 1px 0 #c93d60,
    1px 1px 0 #c93d60;  
}

#hyperlink{
    color: #ff3b6c;
    font-family: 'Whitney Book', sans-serif;
    font-size: 65px;
    text-align: center;
    position: absolute;
    left: 660px;
    top: 210px;
}

#hyperlink:hover{
    color: #ff1b54;
    font-family: 'Whitney Book', sans-serif;
    text-decoration: underline;
}

#hl{
    color: #ff3b6c;
    font-family: 'Whitney Book', sans-serif;
    font-style: underline;
    font-size: 65px;
    text-align: center;
    position: absolute;
    left: 760px;
    top: 340px;
}

#hl:hover{
    color: #ff1b54;
    font-family: 'Whitney Book', sans-serif;
    text-decoration: underline;
}

#avatar{
    float: left;
    margin-left: 3%;
    filter: drop-shadow(1px 1px 0px #e84a72);
    border-radius: 15px;
    border-width: 30px;
    border: solid #e84a72;
    -webkit-animation: slideIn 2s forwards;
    image-rendering: pixelated;
}

#textbg{
    position: absolute; 
    bottom: 0;
    right: 0;
    filter: drop-shadow(-5px 0px 0px #971032);
    -webkit-animation: slideIntext 2s forwards;
    image-rendering: pixelated;
}

#topbar{
  position: relative;
  top: -570px;
  left: 0;
  image-rendering: pixelated;
}

#bottombar{
  position: relative;
  top: 90px;
  left: -10;
  image-rendering: pixelated;
}

@-webkit-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @-webkit-keyframes slideInText {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
  }

#hyperlinkR{
    color: #ff4500;
    font-family: 'Whitney Book', sans-serif;
    font-style: underline;
    font-size: 27px;
    text-align: right;
    position: absolute;
    left: 1205px;
    top: 520px;
}

#hyperlinkR:hover{
    color: #ff723e;
    font-family: 'Whitney Book', sans-serif;
    text-decoration: underline;
    filter: drop-shadow(0px 0px 3px #ff723e);
}

#hyperlinkT{
    color: #1DA1F2;
    font-family: 'Whitney Book', sans-serif;
    font-style: underline;
    font-size: 27px;
    text-align: right;
    position: absolute;
    left: 1122px;
    top: 520px;
}

#hyperlinkT:hover{
    color: #52bdff;
    font-family: 'Whitney Book', sans-serif;
    text-decoration: underline;
    filter: drop-shadow(0px 0px 3px #52bdff);
}

#hyperlinkD{
  color: #7289DA;
  font-family: 'Whitney Book', sans-serif;
  font-style: underline;
  font-size: 27px;
  text-align: right;
  position: absolute;
  left: 1030px;
  top: 520px;
}

#hyperlinkD:hover{
  color: #a0b4ff;
  font-family: 'Whitney Book', sans-serif;
  text-decoration: underline;
  filter: drop-shadow(0px 0px 3px #a0b4ff);
}

#credits{
  color: #ff73a1;
  font-family: 'Whitney Light', sans-serif;
  position: absolute;
  bottom: 0;
  left: 110;
  font-size: 17px;
  text-align: center;
}

div {
    display: flex;
  }

a{
    display: flex;
  }

/*OTHER PAGES CSS*/

#textbg2{
  position: absolute; 
  bottom: 0;
  right: 0;
  filter: drop-shadow(-5px 0px 0px #971032);
  -webkit-animation: slideIntext 2s forwards;
  image-rendering: pixelated;
}

#bottombar2{
  position: relative;
  top: 278px;
  left: -10;
  image-rendering: pixelated;
}

#hyperlinkH{
  color: #ff3b6c;
  font-family: 'Whitney Book', sans-serif;
  font-style: underline;
  font-size: 35px;
  text-align: right;
  position: absolute;
  left: 1080px;
  top: 515px;
}

#hyperlinkH:hover{
  color: #ff1b54;
  font-family: 'Whitney Book', sans-serif;
  text-decoration: underline;
  filter: drop-shadow(0px 0px 3px #ff1b54);
}
h2{
  color: #d14274;
  font-family: 'Whitney ', sans-serif;
  font-style: italic;
  font-size: 30px;
  filter: drop-shadow(2px 2px 0px #9a1f4a);
  text-align: center;
  position: relative;
  text-shadow:
  -1px -1px 0 #9a1f4a,
  1px -1px 0 #9a1f4a,
  -1px 1px 0 #9a1f4a,
  1px 1px 0 #9a1f4a;
  top: -75px;
}

#h12{
  color: #fe7b9c;
  font-family: 'Norwester', sans-serif;
  font-size: 120px;
  filter: drop-shadow(3px 3px 0px #c93d60);
  text-align: center;
  position: relative;
  -webkit-animation: slideIntext 2s forwards;
  text-shadow:
  -1px -1px 0 #c93d60,
  1px -1px 0 #c93d60,
  -1px 1px 0 #c93d60,
  1px 1px 0 #c93d60;  
  top: 10px;
}

.small { font-size:70%; }

#oc{
  color: #ff3b6c;
  font-family: 'Whitney Light', sans-serif;
  font-style: underline;
  font-size: 45px;
  text-align: center;
  position: absolute;
  text-shadow:
  -1px -1px 0 #9a1f4a78,
  1px -1px 0 #9a1f4a78,
  -1px 1px 0 #9a1f4a78,
  1px 1px 0 #9a1f4a78;
  left: 40px;
  top: 260px;
}

#oc:hover{
  color: #ff1b54;
  font-family: 'Whitney Light', sans-serif;
  text-decoration: underline;
}

#outfit{
  color: #ff3b6c;
  font-family: 'Whitney Light', sans-serif;
  font-style: underline;
  font-size: 45px;
  text-align: center;
  position: absolute;
  text-shadow:
  -1px -1px 0 #9a1f4a78,
  1px -1px 0 #9a1f4a78,
  -1px 1px 0 #9a1f4a78,
  1px 1px 0 #9a1f4a78;
  left: 440px;
  top: 260px;
}

#outfit:hover{
  color: #ff1b54;
  font-family: 'Whitney Light', sans-serif;
  text-decoration: underline;
}

#tool{
  color: #ff3b6c;
  font-family: 'Whitney Light', sans-serif;
  font-style: underline;
  font-size: 45px;
  text-align: center;
  position: absolute;
  text-shadow:
  -1px -1px 0 #9a1f4a78,
  1px -1px 0 #9a1f4a78,
  -1px 1px 0 #9a1f4a78,
  1px 1px 0 #9a1f4a78;
  left: 880px;
  top: 260px;
}

#tool:hover{
  color: #ff1b54;
  font-family: 'Whitney Light', sans-serif;
  text-decoration: underline;
}

#ghy{
  color: #ad34e5;
  font-family: 'Norwester', sans-serif;
  font-style: underline;
  font-size: 60px;
  text-align: center;
  position: absolute;
  text-shadow:
  -1px -1px 0 #6e2b6e78,
  1px -1px 0 #6e2b6e78,
  -1px 1px 0 #6e2b6e78,
  1px 1px 0 #6e2b6e78;
  left: 150px;
  top: 195px;
}

#ghy:hover{
  color: #c056f1;
  font-family: 'Norwester', sans-serif;
  text-decoration: underline;
}

#ghytext{
  color: #b15de2;
  font-family: 'Whitney Light', sans-serif;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  position: absolute;
  left: 50px;
  top: 250px;
  filter: drop-shadow(0px 0px 3px #b15de2);
}

#adwy{
  color: #c348d3;
  font-family: 'Norwester', sans-serif;
  font-style: underline;
  font-size: 60px;
  text-align: center;
  position: absolute;
  text-shadow:
  -1px -1px 0 #6d1f9a78,
  1px -1px 0 #6d1f9a78,
  -1px 1px 0 #6d1f9a78,
  1px 1px 0 #6d1f9a78;
  left: 565px;
  top: 195px;
}

#adwy:hover{
  color: rgb(214, 52, 254);
  font-family: 'Norwester', sans-serif;
  text-decoration: underline;
}

#adwytext{
  color: #c444ff;
  font-family: 'Whitney Light', sans-serif;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  filter: drop-shadow(0px 0px 3px #c444ff);
  position: absolute;
  left: 500px;
  top: 250px;
}

#tmm{
  color: #3bff76;
  font-family: 'Norwester', sans-serif;
  font-style: underline;
  font-size: 60px;
  text-align: center;
  position: absolute;
  text-shadow:
  -1px -1px 0 #0f6c3978,
  1px -1px 0 #0f6c3978,
  -1px 1px 0 #0f6c3978,
  1px 1px 0 #0f6c3978;
  left: 1000px;
  top: 195px;
}

#tmm:hover{
  color: #1bff72;
  font-family: 'Norwester', sans-serif;
  text-decoration: underline;
}

#tmmtext{
  color: #58ffae;
  font-family: 'Whitney Light', sans-serif;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  filter: drop-shadow(0px 0px 3px #ff5882);
  position: absolute;
  left: 900px;
  top: 250px;
}

#boob{
  color: #f554af;
  font-family: 'Norwester', sans-serif;
  font-style: underline;
  font-size: 60px;
  text-align: center;
  position: absolute;
  text-shadow:
  -1px -1px 0 #9a1f4a78,
  1px -1px 0 #9a1f4a78,
  -1px 1px 0 #9a1f4a78,
  1px 1px 0 #9a1f4a78;
  left: 45px;
  top: 350px;
}

#boob:hover{
  color: #fc7fc6;
  font-family: 'Norwester', sans-serif;
  text-decoration: underline;
}

#boobtext{
  color: #ff58bf;
  font-family: 'Whitney Light', sans-serif;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  filter: drop-shadow(0px 0px 3px #ff5882);
  position: absolute;
  left: 35px;
  top: 410px;
}

#sm{
  color: #cfcfcf;
  font-family: 'Norwester', sans-serif;
  font-style: underline;
  font-size: 60px;
  text-align: center;
  position: absolute;
  text-shadow:
  -1px -1px 0 #65656578,
  1px -1px 0 #65656578,
  -1px 1px 0 #65656578,
  1px 1px 0 #65656578;
  left: 505px;
  top: 350px;
}

#sm:hover{
  color: #e4e4e4;
  font-family: 'Norwester', sans-serif;
  text-decoration: underline;
}

#smtext{
  color: #acacac;
  font-family: 'Whitney Light', sans-serif;
  font-style: italic;
  font-size: 25px;
  text-align: center;
  filter: drop-shadow(0px 0px 3px #acacac);
  position: absolute;
  left: 430px;
  top: 410px;
}

#preview{
  white-space: nowrap;
  color: #ff5882;
  font-family: 'Whitney Light', sans-serif;
  font-style: italic;
  font-size: 20px;
  position: absolute;
  left: 1105px;
  top: 460px;
}
